@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.main {
	position: absolute;
	height: 100%;
}

.main > .row {
	height: 100%;
}

.main-col {
	padding: 0px !important;
}

.header {
	padding-top: 10px;
}

.logo {
	width: 180px;
	height: 40px;
	cursor: pointer;
}

.main-image {
	width: 100%;
	height: 100%;
	background: url("../img/Rectangle.png") no-repeat;
	background-size: cover;
}

.content {
	position: relative;
	background-color: #323338;
	color: white;
	height: 100%;
}

.features-container {
	font-family: 'Nunito Sans', sans-serif;
}

.header {
	margin-bottom: 133px;
}

.features {
	font-weight: 400;
	font-size: 31px;
	line-height: 42px;
	border-left: 5px solid #F48C0C;
	margin-bottom: 30px;
}

.sub-features {
	margin-bottom: 30px;
}

.advantages {
	margin-bottom: 30px;
}

.advantages-card{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

.advantages-text {
	max-width: 138px;
	margin-left: 10px;
	margin-bottom: 20px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 90%;
	margin-bottom: 11px;
	z-index: 1;
}

.test {
	display: flex;
	flex-direction: column;
	background-color: #323338; 
	width: 100%;
	height: 100%;
	z-index: 1000;
	overflow: auto;
}

.test-header {
	text-align: center;
	margin: 30px;
}

.test-col{
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.test-aside {
	position: relative;
	background: url('../img/test-aside-background.png') no-repeat;
	background-size: cover;
	padding-top: 10px;
	width: 267px;
	height: 552px;
}

.test-aside_header {
	font-family: 'Nunito Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	text-align: center;
}

.test > .header > .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 50%;
	color: white;
}

.test-body {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 995px;
	max-height: 600px;
	background-color: #232429;
	color: white;
	font-family: 'Nunito Sans', sans-serif;
	padding: 20px 0;
	margin: 0 auto;
}

.scale {
	margin-bottom: 30px;
}

.scale-line {
	padding: 0 !important;
	margin: 0;
	width: 100%;
	height: 15px;
	border: 2px solid #28292E;
	background-color: #323338;
	border-radius: 10px;
}

.scale-filling {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 25%;
	background-color: orange;
	border-radius: 5px;
}
.scale-text_bold {
	font-weight: 600;
}

.answers-container {
	width: 100%;
	padding: 0 !important;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.answers {
	width: 1005px;
	height: 100%;
}

.answers input{
	width: 100%;
	background-color: #28292E;
}
.answers input + label {
	font-size: 1.5em;
}

.answer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color:#28292E;
	height: 30%;
	width: 100%;
	margin-bottom: 10px;
}

.answer label {
	margin-left: 15px;
	cursor: pointer;
}

.answer-text {
	padding: 20px 15px;
	margin: 0;
	margin-left: 10px;
}

/*Стили для тестовой модалки*/

.info-frame {
	text-align: center;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: orange;
	border: 2px solid orange;
	height: 50px;
	margin-bottom: 10px;
	background-color: rgba(1,1,1,0.35);
}

.info-frame h6 {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.introduce-frame {
	position: relative;
	background-color: rgba(1,1,1,0.35);
	margin-bottom: 20px;
}

.introduce-frame::after {
	position: absolute;
	top: 100%;
	left: 0;
	content: '';
	display: block;
	border: 10px solid transparent;
	border-left: 10px solid rgba(1,1,1,0.35);
	border-top: 10px solid rgba(1,1,1,0.35);
}

.introduce-text {
	padding: 5px;
	text-align: center;
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 14px;
	text-align: center;
}

.employee-frame {
	position: absolute;
	bottom: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-bottom: 10px;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
}

.img-employee {
	width: 110px;
	height: 110px;
}

.button-block {
	position: absolute;
	bottom: 2em;
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.button-block_col {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.button-block_buttons {
	justify-content: flex-end;
	width: 50%;
}

.load-frame {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.load-frame > .scale-line > .scale-filling{
	width: 0;
	animation: load 7s;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
}

@keyframes load {
	0% {width: 0;}
	100% {width: 100%;}
}

/*Стили для кусков текста, кнопок, состояний*/

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(1,1,1,0.65);
	z-index: 1000;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 40px;
	background: #F48C0C;
	color: white;
	font-weight: 600;
	border: none;
	border-radius: 2px;
	user-select: none;
	cursor: pointer;
	transition-property: all;
	transition-duration: 150ms;
}

.button:hover {
	box-shadow: 0 0 10px 5px rgba(265, 161, 0, 0.35);
}

.test-button_next {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 143px !important;
}

.test-button_back {
	border: 1px solid #F48C0C;
	background-color: transparent;
	color: #F48C0C;
}

.start-button {
	margin-bottom: 133px;
}

.bold-text {
	font-weight: bold;
}

.hint {
	font-style: normal;
	font-weight: 400;
	font-size: 0.5em;
	line-height: 14px;
}

.hide {
	display: none !important;
}

@media (max-width: 600px) {
	.button {
		width: 100%;
	}
}